<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.edu.hestyle.bookstadium.mapper.ComplaintMapper">
    <!--添加Complaint-->
    <!--void add(Complaint complaint);-->
    <insert id="add" parameterType="cn.edu.hestyle.bookstadium.entity.Complaint" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_complaint`(`complainant_account_type`, `complainant_account_id`, `respondent_account_type`, `respondent_account_id`,
            `title`, `description`, `image_paths`, `complained_time`, `has_handled`, `is_delete`)
        VALUES (#{complainantAccountType}, #{complainantAccountId}, #{respondentAccountType}, #{respondentAccountId},
                #{title}, #{description}, #{imagePaths}, #{complainedTime}, #{hasHandled}, #{isDelete})
    </insert>
    <!--更新complaint(has_handled、handled_time、complainant_handle_credit_score等字段)-->
    <!--void update(Complaint complaint);-->
    <update id="update" parameterType="cn.edu.hestyle.bookstadium.entity.Complaint">
        UPDATE `t_complaint` SET
            `has_handled` = #{hasHandled},
            `handled_time` = #{handledTime},
            `complainant_handle_credit_score` = #{complainantHandleCreditScore},
            `complainant_handle_description` = #{complainantHandleDescription},
            `respondent_handle_credit_score` = #{respondentHandleCreditScore},
            `respondent_handle_description` = #{respondentHandleDescription},
            `is_delete` = #{isDelete}
        WHERE
            `id` = #{id}
    </update>
    <!--通过complaintId查找-->
    <!--Complaint findById(Integer complaintId);-->
    <select id="findById" resultType="cn.edu.hestyle.bookstadium.entity.Complaint">
        SELECT
            `id` as `id`,
            `complainant_account_type` as `complainantAccountType`,
            `complainant_account_id` as `complainantAccountId`,
            `respondent_account_type` as `respondentAccountType`,
            `respondent_account_id` as `respondentAccountId`,
            `title` as  `title`,
            `description` as `description`,
            `image_paths` as `imagePaths`,
            `complained_time` as `complainedTime`,
            `has_handled` as `hasHandled`,
            `handled_time` as `handledTime`,
            `complainant_handle_credit_score` as `complainantHandleCreditScore`,
            `complainant_handle_description` as `complainantHandleDescription`,
            `respondent_handle_credit_score` as `respondentHandleCreditScore`,
            `respondent_handle_description` as `respondentHandleDescription`,
            `is_delete` as `isDelete`
        FROM
            `t_complaint`
        WHERE
            `id` = #{complaintId} AND `is_delete` = 0
    </select>
    <!--查找所有的Complaint（未删除）-->
    <!--List<Complaint> findAllByPage(Integer beginIndex, Integer pageSize, String titleKey);-->
    <select id="findAllByPage" resultType="cn.edu.hestyle.bookstadium.entity.Complaint">
        SELECT
            `id` as `id`,
            `complainant_account_type` as `complainantAccountType`,
            `complainant_account_id` as `complainantAccountId`,
            `respondent_account_type` as `respondentAccountType`,
            `respondent_account_id` as `respondentAccountId`,
            `title` as  `title`,
            `description` as `description`,
            `image_paths` as `imagePaths`,
            `complained_time` as `complainedTime`,
            `has_handled` as `hasHandled`,
            `handled_time` as `handledTime`,
            `complainant_handle_credit_score` as `complainantHandleCreditScore`,
            `complainant_handle_description` as `complainantHandleDescription`,
            `respondent_handle_credit_score` as `respondentHandleCreditScore`,
            `respondent_handle_description` as `respondentHandleDescription`,
            `is_delete` as `isDelete`
        FROM
            `t_complaint`
        WHERE
            `is_delete` = 0
        <if test="titleKey != null and titleKey.length != 0">
            AND `title` LIKE CONCAT('%', #{titleKey}, '%')
        </if>
        ORDER BY
            `complained_time` DESC
        LIMIT
            #{beginIndex}, #{pageSize}
    </select>
    <!--获取所有未删除的Complaint数量-->
    <!--Integer getAllCount(String titleKey);-->
    <select id="getAllCount" resultType="java.lang.Integer">
        SELECT
            COUNT(`id`)
        FROM
            `t_complaint`
        WHERE
            `is_delete` = 0
        <if test="titleKey != null and titleKey.length != 0">
            AND `title` LIKE CONCAT('%', #{titleKey}, '%')
        </if>
    </select>
</mapper>