<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.edu.hestyle.bookstadium.mapper.ComplaintMapper">
    <!--查找所有的Complaint（未删除）-->
    <!--List<Complaint> findAllByPage(Integer beginIndex, Integer pageSize, String titleKey);-->
    <select id="findAllByPage" resultType="cn.edu.hestyle.bookstadium.entity.Complaint">
        SELECT
            `id` as `id`,
            `complainant_account_type` as `complainantAccountType`,
            `complainant_account_id` as `complainantAccountId`,
            `respondent_account_type` as `respondentAccountType`,
            `respondent_account_id` as `respondentAccountId`,
            `title` as  `title`,
            `description` as `description`,
            `image_paths` as `imagePaths`,
            `complained_time` as `complainedTime`,
            `has_handled` as `hasHandled`,
            `punish_account_type` as `punishAccountType`,
            `punish_account_id` as `punishAccountId`,
            `punish_credit_score` as `punishCreditScore`,
            `punish_description` as `punishDescription`,
            `is_delete` as `isDelete`
        FROM
            `t_complaint`
        WHERE
            `is_delete` = 0
        <if test="titleKey != null and titleKey.length != 0">
            AND `title` LIKE CONCAT('%', #{titleKey}, '%')
        </if>
        ORDER BY
            `complained_time` DESC
        LIMIT
            #{beginIndex}, #{pageSize}
    </select>
    <!--获取所有未删除的Complaint数量-->
    <!--Integer getAllCount(String titleKey);-->
    <select id="getAllCount" resultType="java.lang.Integer">
        SELECT
            COUNT(`id`)
        FROM
            `t_complaint`
        WHERE
            `is_delete` = 0
        <if test="titleKey != null and titleKey.length != 0">
            AND `title` LIKE CONCAT('%', #{titleKey}, '%')
        </if>
    </select>
</mapper>