<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.edu.hestyle.bookstadium.mapper.NoticeMapper">
    <!--通过toAccountType、accountId分页查找Notice-->
    <!--List<Notice> findByIdAndPage(Integer toAccountType, Integer accountId, Integer beginIndex, Integer pageSize);-->
    <select id="findByIdAndPage" resultType="cn.edu.hestyle.bookstadium.entity.Notice">
        SELECT
            `id` as `id`,
            `to_account_type` as `toAccountType`,
            `account_id` as `accountId`,
            `title` as  `title`,
            `content` as `content`,
            `generated_time` as `generatedTime`,
            `is_delete` as `isDelete`
        FROM
            `t_notice`
        WHERE
            `to_account_type` = #{toAccountType} AND `account_id` = #{accountId} AND `is_delete` = 0
        ORDER BY
            `generated_time` DESC
        LIMIT
            #{beginIndex}, #{pageSize}
    </select>
</mapper>