<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.edu.hestyle.bookstadium.mapper.SportMomentMapper">
    <!--添加sportMoment-->
    <!--void add(SportMoment sportMoment);-->
    <insert id="add" parameterType="cn.edu.hestyle.bookstadium.entity.SportMoment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_sport_moment`(`user_id`, `content`, `image_paths`, `like_count`, `comment_count`, `sent_time`, `is_delete`, `modified_user`, `modified_time`)
        VALUES (#{userId}, #{content}, #{imagePaths}, #{likeCount}, #{commentCount}, #{sentTime}, #{isDelete}, #{modifiedUser}, #{modifiedTime})
    </insert>
    <!--分页查询-->
    <!--List<SportMoment> findByPage(Integer beginIndex, Integer pageSize);-->
    <select id="findByPage" resultType="cn.edu.hestyle.bookstadium.entity.SportMoment">
        SELECT
            `id` AS `id`,
            `user_id` AS `userId`,
            `content` AS `content`,
            `image_paths` AS `imagePaths`,
            `like_count` AS `likeCount`,
            `comment_count` AS `commentCount`,
            `sent_time` AS `sentTime`,
            `is_delete` AS `isDelete`,
            `modified_user` AS `modifiedUser`,
            `modified_time` AS `modifiedTime`
        FROM
            `t_sport_moment`
        WHERE
            `is_delete` = 0
        ORDER BY
            `sent_time` DESC
        LIMIT
            #{beginIndex}, #{pageSize}
    </select>
</mapper>