<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.edu.hestyle.bookstadium.mapper.StadiumCommentMapper">
    <!--增加stadiumComment-->
    <!--void add(StadiumComment stadiumComment);-->
    <insert id="add" parameterType="cn.edu.hestyle.bookstadium.entity.StadiumComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_stadium_comment`(`stadium_id`, `user_id`, `content`, `star_count`, `commented_time`, `manager_reply`, `is_delete`)
        VALUES (#{stadiumId}, #{userId}, #{content}, #{starCount}, #{commentedTime}, #{managerReply}, #{isDelete})
    </insert>
    <!--更新StadiumComment 只更新managerReply、isDelete字段-->
    <!--void update(StadiumComment stadiumComment);-->
    <update id="update" parameterType="cn.edu.hestyle.bookstadium.entity.StadiumComment">
        UPDATE `t_stadium_comment` SET
            `manager_reply` = #{managerReply},
            `is_delete` = #{isDelete}
        WHERE
            `id`=#{id}
    </update>
    <!--通过stadiumCommentId查找-->
    <!--StadiumComment findByStadiumCommentId(Integer stadiumCommentId);-->
    <select id="findByStadiumCommentId" resultType="cn.edu.hestyle.bookstadium.entity.StadiumComment">
        SELECT
            `id` as `id`,
            `stadium_id` as `stadiumId`,
            `user_id` as `userId`,
            `content` as `content`,
            `star_count` as `starCount`,
            `commented_time` as `commentedTime`,
            `manager_reply` as `managerReply`,
            `is_delete` as `isDelete`
        FROM
            `t_stadium_comment`
        WHERE
            `id` = #{stadiumCommentId}
    </select>
    <!--分页查询某个stadium的评论-->
    <!--List<StadiumComment> findByStadiumIdAndPage(Integer stadiumId, Integer beginIndex, Integer pageSize);-->
    <select id="findByStadiumIdAndPage" resultType="cn.edu.hestyle.bookstadium.entity.StadiumComment">
        SELECT
            `id` as `id`,
            `stadium_id` as `stadiumId`,
            `user_id` as `userId`,
            `content` as `content`,
            `star_count` as `starCount`,
            `commented_time` as `commentedTime`,
            `manager_reply` as `managerReply`,
            `is_delete` as `isDelete`
        FROM
            `t_stadium_comment`
        WHERE
            `stadium_id` = #{stadiumId} AND `is_delete` = 0
        LIMIT
            #{beginIndex}, #{pageSize}
    </select>
</mapper>